<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
<link rel="stylesheet" href="/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </nav>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Data</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h2 class="card-title">Welcome  <span><%=user.user_name %></span></h2>
            <p class="card-text">Email : <%=user.email%></p>
            <p class="card-text"><%= user._id %></p>
        </div>
    </div>

<div class="all">
    <form method="POST">

    <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Input New Link</label>
                    <input type="text" class="form-control" name="link" id="exampleFormControlInput1" placeholder="Link Adress to be shortned, use a valid link!">
                </div>


                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Link Name</label>
                    <input type="text" class="form-control" name="link_name" id="exampleFormControlInput1"
                        placeholder="Use a custom name for your link so you will be able to recognize it">
                </div>
        </div>



        <hr style="background-color: black;border: 0.1px solid black;opacity: 0.4;">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Delete your links(use their names!)</label>
            <input type="text" class="form-control" name="delete" id="exampleFormControlInput1" placeholder="All links with this name will be deleted! ">
        </div>

        <hr style="background-color: black;border: 0.1px solid black;opacity: 0.4;">

        <div class="row">
            <h5 for="exampleFormControlInput1" class="form-h5">Modify Links</h5>
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Original link name.</label>
                <input type="text" class="form-control" name="orname" id="exampleFormControlInput1"
                    placeholder="Provide an existing link name!">
            </div>
        
        
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">New link name.</label>
                <input type="text" class="form-control" name="newname" id="exampleFormControlInput1"
                    placeholder="Modify link name">
            </div>
        </div>

        <br>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="xf">

    <table class="table xd">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">URL Name</th>
                <th scope="col">Original URL</th>
                <th scope="col">Final URL</th>
            </tr>
        </thead>
        <tbody>

            <%posts.forEach((post,index) => { %>

                    <tr>
                        <th scope="row"><%=index+1 %></th>
                        <th scope="row">
                            <%=post.url_name%>
                        </th>
                        <td><a href="<%=post.actualurl %>"><%=post.actualurl %></a></td>
                        <td><a href="http://localhost:3000/urls/<%=post._id %>">http://localhost:3000/urls/<%=post._id %></a></td>
                    </tr>


            <%})%>


        </tbody>
    </table>
</div>
</div>

</body>
</html>